<div ng-init="init()">
    <!--&lt;!&ndash; -------------------------------------------------  Resume button ----------------------------------------------------- &ndash;&gt;-->
    <!--<button class="buttonPink topRight"><i class="fa fa-download" aria-hidden="true"></i>  Resume</button>-->
    <!--&lt;!&ndash; -------------------------------------------------  Daily Notes ----------------------------------------------------- &ndash;&gt;-->
    <!--<div id="notes" class="hidden-xs hidden-sm">-->
        <!--<h3 class="text-center" style="font-family: 'Handlee', cursive;"><b>Notes</b></h3>-->
    <!--</div>-->












    <!--<div class="progress" style="background-color: transparent; height: 1.5vh; border-radius: 6px; border: 0px">-->
    <!--<div class="progress-bar six-sec-ease-in-out" role="progressbar" data-transitiongoal="50" style="height: 1.5vh; background-color: orangered; border: 0px;"></div>-->
    <!--</div>-->

<!--</div>-->

    <div id="fullpage">
        <div class="section" style="background-color: darkslategray">
            <!-- -------------------------  basic info division   [ =====   LARGE DEVICES  ===== ]----------------------- -->
            <div id="basic-info" class="container hidden-sm hidden-xs">
                 <!-- -------------  tinted video  ------------- -->

                 <!------------------ heading   ------------- -->
                <div class="">
                    <!-- --------   content   --------- -->
                    <div id="heading" class="animated slideInUp">
                        <p id="headName" class="text-center" style="color : white; font-size: 7vw; font-weight:lighter; margin: 0px;">puneet222.github.io</p>
                        <p class="text-right" style="color: white; font-size: 1.5vw; font-weight: 100">( Full Stack Developer )</p>
                    </div>
                    <br>
                    <h4 class="text-center animated zoomIn" style="color : white; font-size: 1.5vw; font-weight:300; letter-spacing: 2px;">Hello! My name is Puneet Aggarwal.
                        Currently I'm pursuing B.E. (Computer Science) from PEC Unversity of Technology, Chandigarh. I'm very enthusiastic about web development, and always very
                        interested to learn about latest technologies. I also like to read blogs and sometimes inmy free time I use to do sketching, painting. I'm also a
                        TV Series addict and love to read novels.</h4>
                </div>
                <div class="text-center" style="position: fixed ; top: 90%; text-align: center; margin-left: 28%;">
                    <a class="scrollDown" style="cursor: pointer"><span></span></a>
                </div>
            </div>

            <!-- -------------------------  basic info division   [ =====   SMALL DEVICES  ===== ]----------------------- -->
            <div id="basic-info" class="container hidden-lg hidden-md" style="width: 100%; padding: 0px; margin: 0px;">
                <!-- -------  tinted video  ------- -->
                <!--<div class="fullscreen-bg video-responsive">-->
                    <!--<video loop muted autoplay poster="../images/hny.png" class="fullscreen-bg__video">-->
                        <!--<source src="../video/out-5.ogv" type="video/ogg">-->
                    <!--</video>-->
                    <!--<div class="tint">-->
                    <!--</div>-->
                <!--</div>-->
                <!-- -------- heading   ------- -->
                <div class="text-center">
                    <!-- --------   content   --------- -->
                    <div id="heading" class="animated slideInUp">
                        <p id="headName" class="text-center" style="color : white; font-size: 7vh; font-weight:lighter; margin: 0px;">puneet222.github.io</p>
                        <p class="text-right" style="color: white; font-size: 3vh; font-weight: 100; margin-right: 10px;">( Full Stack Developer )</p>
                    </div>
                    <br>
                    <h4 class="text-center animated zoomIn" style="color : white; font-size: 3vh; font-weight:300; letter-spacing: 2px;padding: 0 8px;margin-top: 0px;">Hello! My name is Puneet Aggarwal.
                        Currently I'm pursuing B.E. (Computer Science) from PEC Unversity of Technology, Chandigarh. I'm very enthusiastic about web development, and always very
                        interested to learn about latest technologies. I also like to read blogs and sometimes inmy free time I use to do sketching, painting. I'm also a
                        TV Series addict and love to read novels.</h4>
                </div>
                <!--<div class="text-center" style="position: fixed ; top: 90%; text-align: center; margin-left: 28%;">-->
                <!--<a class="scrollDown" style="cursor: pointer"><span></span></a>-->
                <!--</div>-->
            </div>
        </div>
        <!------------------------------------------   SUPER POWER SECTION   ------------------------------------------->
        <div class="section" id="superpower">
            <h5 class="text-center sliding-middle-out roboto" style="color: white; font-size: 6vh; font-weight: 700; font-family: 'Bungee Outline', cursive ; z-index: 10; position: absolute">Superpowers</h5>


            <div id="skill-background">
                <canvas id="sky"></canvas>
            </div>

            <div class="row hidden-sm hidden-xs" id="skills">
                <div class="col-md-2">
                    <!-- Skill Bars -->
                    <div class="super text-center">
                        <div style="padding-bottom: 5px;">
                            <img src="../images/logo/html5.png" style="height: 10vh; height: 5vw;" />
                        </div>
                        <div class="progress skill-bar" >
                            <!--style="-webkit-box-shadow:0 0 20px blue; -moz-box-shadow: 0 0 20px blue; box-shadow:0 0 20px blue;" >-->
                            <div class="progress-bar" style="background-color: #ff5722" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="skill-name">
                            <h5 class="roboto">HTML</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- Skill Bars -->
                    <div class="super text-center">
                        <div style="padding-bottom: 5px;">
                            <img src="../images/logo/html5.png" style="height: 10vh; height: 5vw;" />
                        </div>
                        <div class="progress skill-bar" >
                            <!--style="-webkit-box-shadow:0 0 20px blue; -moz-box-shadow: 0 0 20px blue; box-shadow:0 0 20px blue;" >-->
                            <div class="progress-bar" style="background-color: #ff5722" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="skill-name">
                            <h5 class="roboto">HTML</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- Skill Bars -->
                    <div class="super text-center">
                        <div style="padding-bottom: 5px;">
                            <img src="../images/logo/css31600.png" style="height: 10vh; height: 5vw;" />
                        </div>
                        <div class="progress skill-bar" >
                            <!--style="-webkit-box-shadow:0 0 20px blue; -moz-box-shadow: 0 0 20px blue; box-shadow:0 0 20px blue;" >-->
                            <div class="progress-bar" style="background-color: #2196f3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="skill-name">
                            <h5 class="roboto">HTML</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- Skill Bars -->
                    <div class="super text-center">
                        <div style="padding-bottom: 5px;">
                            <img src="../images/logo/html5.png" style="height: 10vh; height: 5vw;" />
                        </div>
                        <div class="progress skill-bar" >
                            <!--style="-webkit-box-shadow:0 0 20px blue; -moz-box-shadow: 0 0 20px blue; box-shadow:0 0 20px blue;" >-->
                            <div class="progress-bar" style="background-color: #ff5722" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="skill-name">
                            <h5 class="roboto">HTML</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- Skill Bars -->
                    <div class="super text-center">
                        <div style="padding-bottom: 5px;">
                            <img src="../images/logo/html5.png" style="height: 10vh; height: 5vw;" />
                        </div>
                        <div class="progress skill-bar" >
                            <!--style="-webkit-box-shadow:0 0 20px blue; -moz-box-shadow: 0 0 20px blue; box-shadow:0 0 20px blue;" >-->
                            <div class="progress-bar" style="background-color: #ff5722" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="skill-name">
                            <h5 class="roboto">HTML</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- Skill Bars -->
                    <div class="super text-center">
                        <div style="padding-bottom: 5px;">
                            <img src="../images/logo/css31600.png" style="height: 10vh; height: 5vw;" />
                        </div>
                        <div class="progress skill-bar" >
                            <!--style="-webkit-box-shadow:0 0 20px blue; -moz-box-shadow: 0 0 20px blue; box-shadow:0 0 20px blue;" >-->
                            <div class="progress-bar" style="background-color: #2196f3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="skill-name">
                            <h5 class="roboto">HTML</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- Skill Bars -->
                    <div class="super text-center">
                        <div style="padding-bottom: 5px;">
                            <img src="../images/logo/html5.png" style="height: 10vh; height: 5vw;" />
                        </div>
                        <div class="progress skill-bar" >
                            <!--style="-webkit-box-shadow:0 0 20px blue; -moz-box-shadow: 0 0 20px blue; box-shadow:0 0 20px blue;" >-->
                            <div class="progress-bar" style="background-color: #ff5722" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="skill-name">
                            <h5 class="roboto">HTML</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- Skill Bars -->
                    <div class="super text-center">
                        <div style="padding-bottom: 5px;">
                            <img src="../images/logo/html5.png" style="height: 10vh; height: 5vw;" />
                        </div>
                        <div class="progress skill-bar" >
                            <!--style="-webkit-box-shadow:0 0 20px blue; -moz-box-shadow: 0 0 20px blue; box-shadow:0 0 20px blue;" >-->
                            <div class="progress-bar" style="background-color: #ff5722" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="skill-name">
                            <h5 class="roboto">HTML</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- Skill Bars -->
                    <div class="super text-center">
                        <div style="padding-bottom: 5px;">
                            <img src="../images/logo/css31600.png" style="height: 10vh; height: 5vw;" />
                        </div>
                        <div class="progress skill-bar" >
                            <!--style="-webkit-box-shadow:0 0 20px blue; -moz-box-shadow: 0 0 20px blue; box-shadow:0 0 20px blue;" >-->
                            <div class="progress-bar" style="background-color: #2196f3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="skill-name">
                            <h5 class="roboto">HTML</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- Skill Bars -->
                    <div class="super text-center">
                        <div style="padding-bottom: 5px;">
                            <img src="../images/logo/html5.png" style="height: 10vh; height: 5vw;" />
                        </div>
                        <div class="progress skill-bar" >
                            <!--style="-webkit-box-shadow:0 0 20px blue; -moz-box-shadow: 0 0 20px blue; box-shadow:0 0 20px blue;" >-->
                            <div class="progress-bar" style="background-color: #ff5722" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="skill-name">
                            <h5 class="roboto">HTML</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- Skill Bars -->
                    <div class="super text-center">
                        <div style="padding-bottom: 5px;">
                            <img src="../images/logo/html5.png" style="height: 10vh; height: 5vw;" />
                        </div>
                        <div class="progress skill-bar" >
                            <!--style="-webkit-box-shadow:0 0 20px blue; -moz-box-shadow: 0 0 20px blue; box-shadow:0 0 20px blue;" >-->
                            <div class="progress-bar" style="background-color: #ff5722" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="skill-name">
                            <h5 class="roboto">HTML</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- Skill Bars -->
                    <div class="super text-center">
                        <div style="padding-bottom: 5px;">
                            <img src="../images/logo/css31600.png" style="height: 10vh; height: 5vw;" />
                        </div>
                        <div class="progress skill-bar" >
                            <!--style="-webkit-box-shadow:0 0 20px blue; -moz-box-shadow: 0 0 20px blue; box-shadow:0 0 20px blue;" >-->
                            <div class="progress-bar" style="background-color: #2196f3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="skill-name">
                            <h5 class="roboto">HTML</h5>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="slide">Section 2 Slide 1</div>-->
            <!--<div class="slide">Section 2 Slide 2</div>-->
            <!--<div class="slide">Section 2 Slide 3</div>-->
        </div>
        <div class="section" style="background-color: #b92c28">Section 3</div>
    </div>
</div>
