@import url(https://fonts.googleapis.com/css?family=Roboto:100,300);
#fullpage {
  	font-family: Roboto;
}

.roboto{
	font-family: Roboto;
}

.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	z-index: 0;
	background-position: center center;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size: cover;
}

.tint {
	background: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: 2;
}

.fullscreen-bg__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

/*loader*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999;
	/*background: url(../images/loader.gif) center no-repeat #fff;*/
}

.tint {
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

/*.roboto {
  font-family: 'Roboto', sans-serif;
  z-index: 100;
	font-weight: 100;
  -webkit-text-stroke-color: rgb(255,255,255);
  -webkit-text-stroke-width: 1px;
  -webkit-font-smoothing: antialiased;
}*/

.topRight{
  	position: fixed;
	z-index: 200;
  	top : 1.5em ;
	right : 1.5em;
}

.buttonPink {
	outline: none;
	height: 40px;
	text-align: center;
	width: 130px;
	border-radius: 40px;
	background: transparent;
	border: 2px solid #F50057;
	color: #F50057;
	letter-spacing: 1px;
	text-shadow: 0;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.buttonPink:hover {
	color: white;
	background: #F50057;
}
.buttonPink:active {
	letter-spacing: 2px;
}
.buttonPink:after {

}

.content {
	position : relative;
	top : 6em ;
}

#notes{
	background-color: #FF8F00;
	border-radius: 15px;
	height: 13em;
	width: 12em;
	position: fixed;
	bottom: 1.5em;
	right: 1.5em;
	z-index: 200;
}

/*----------------------  scroll down button ------------------*/
.scrollDown a {
	padding-top: 60px;
}
.scrollDown {
	position: absolute;
	/*top: 0;
	left: 50%;*/
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
}
.scrollDown ::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sdb10 2s infinite;
	animation: sdb10 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb10 {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.sliding-middle-out {
	text-align: center;
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0%;
	background: white;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: white;
}

/* ---------------------  { } loader  --------------------*/

.loader {
	color: #fff;
	font-family: Consolas, Menlo, Monaco, monospace;
	font-weight: bold;
	font-size: 30vh;
	opacity: 0.8;
	text-align: center;
	margin-top: 10%;
}
.loader span {
	display: inline-block;
	-webkit-animation: pulse 0.4s alternate infinite ease-in-out;
	animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader span:nth-child(odd) {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
@-webkit-keyframes pulse {
	to {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		opacity: 0.5;
	}
}
@keyframes pulse {
	to {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		opacity: 0.5;
	}
}

#container {
	width: 100px;
	height: 100px;
}

#container > svg {
	width: 100%;
	display: block;
}

.topCenter {
	position: absolute;
	margin: 0 auto;
	top: 1em;
	left: 35%;
}
@media (max-width: 747px){
	.topCenter{
		left : 29%;
	}
}

.six-sec-ease-in-out {
	-webkit-transition: width 3s ease-in-out;
	-moz-transition: width 3s ease-in-out;
	-ms-transition: width 3s ease-in-out;
	-o-transition: width 3s ease-in-out;
	transition: width 3s ease-in-out;
}

/*-----  for progress bar  ------*/

.progressBarBackground {
	background-color: transparent;
	height: 1.5vh;
	border-radius: 6px;
	border: 0px;
}

.progressBarForeGround {
	height: 1.5vh;
	background-color: orangered;
	border: 0px;
}

.progress {
	height: 0.8vh;
	background-color: gray;
}
.progress .skill {
	font: normal 0.8vh "Roboto";
	line-height: 0.8vh;
	padding: 0;
	margin: 0 0 0 20px;
	text-transform: uppercase;
}
.progress .skill .val {
	float: right;
	font-style: normal;
	margin: 0 20px 0 0;
}

.progress-bar {
	text-align: left;
	transition-duration: 3s;
}

@font-face {
	font-family: starWars;
	src: url("../fonts/STARWARS.TTF");
}

#superpower{
	font-family: starWars;
}

#skill-background{
	background: #0d1115;
	background: -moz-linear-gradient(top,  #0d1115 0%, #19232c 100%);
	background: -webkit-linear-gradient(top,  #0d1115 0%,#19232c 100%);
	background: linear-gradient(to bottom,  #0d1115 0%,#19232c 100%);
	margin:0;
	padding:0;
}

#skills{
	position: absolute;
	bottom: 0%;
	background-color: transparent;
	width: 100%;
	padding: 5%;
}
